<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activate Account</title>
</head>

<body>

    <form action="account/activate" method="patch">
        <div>
            <label for="email">Email</label>
            <input type="email" required>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" required>
        </div>
        <button>Submit</button>
    </form>
    <div><a href='/api/v1/users/auth/google'>Continue with Google</a></div>
    <div> <a href='/api/v1/users/auth/github'>Continue with Github</a></div>
</body>

</html>