<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Reactivation</title>
</head>

<body>
    <h1>Reactivate your Account</h1>
    <form action="/api/v1/account/activate" method="patch">
        <div>
            <label for="email">Email</label>
            <input type="email" name="email" required >
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" required>
        </div>

        <button> Reactivate Account </button>
    </form>


    <div><a href="/api/v1/users/auth/google">Reactivate with GOOGLE</a></div>
    <div><a href="/api/v1/users/auth/github">Reactivate with GITHUB</a></div>
</body>

</html>